@page "/counter"

<h1 id="@title">Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    string title = "counter";
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
