@page "/"
@page "/home"
@inject NavigationManager Nav

<h1 id="@title">Hello, world!</h1>

Welcome to your new app.

<button @onclick='() => state = "Clicked"' @ondblclick='() => state = "DoubleClicked"' id="changeState">Button</button>

<h2 id="state" data-state="@state">@state</h2>

<h3 id="navigateOnClick" @onclick='() => Nav.NavigateTo("FetchData")'>Navigate to fetch</h3>

@code{
    string title = "home";
    string state = "none";
}
